<div class="m-10">
  <h1 class="mb-5 font-mono">tmdb_cal</h1>
  <p>
    Nothing to see here, you might be looking for <a class="font-mono underline" href="/calendar.ics">/calendar.ics</a>
  </p>
</div>
